.text {
  margin: 0;

  &--center {
    text-align: center;
  }

  &--default {
    color: $black;
  }

  &--orange {
    color: $orange;
  }

  &--reg {
    font-family: 'MR', Arial, sans-serif;
  }

  &--header {
    font-family: 'MB', Arial, sans-serif;
  }

  &--link {
    text-decoration: none;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}